/* Barra superior */
#top-bar {
box-sizing: border-box;

/* Diseño automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;

width: 1440px;
height: 72px;

background: #0B2A16;
border-bottom: 1px solid #7E522A;

/* Dentro del diseño automático */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
}